<%= form_with(model: blogapp, local: true) do |form| %>
  <% if blogapp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blogapp.errors.count, "error") %> prohibited this blogapp from being saved:</h2>

      <ul>
      <% blogapp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
